<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="testUrl" value="http://it-jdobrkovsky/emiartus/INOGEN88/Foxconn.Cze.Deployment.DesktopClient.application" />
    <add key="accUrl" value="https://" />
    <add key="prodUrl" value="https://" />
    <add key="screenshotsLocation" value="C:\\Users\\stummuru\\Documents\\Visual Studio 2017\\Projects\\FC.eFox.desktop.cz\\FC.eFox.desktop.cz\\Files\\TestResults" />
    <add key="TestDataSource" value="CZ03VWDBDEV01"/>
    <add key="TestDataBase" value="LS53DEVCZ"/>
    
     <add key="AccDataSource" value="*****"/>
    <add key="AccDataBase" value="***********"/>
    
   <add key="ProdDataSource" value="***********"/>
    <add key="ProdDataBase" value="**********"/>
    
  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>